In [8]:
import pickle as pkl
import numpy as np
import os

In [14]:
group_num = 11
data = pkl.load(open('../data/part_1_group'+str(group_num)+'.pkl', 'rb'))

In [15]:
data.head()

           city socio_econmic_profile  num_vegans  tot_customers is_train
413    Brampton                     2         7.0           19.0     True
670   Vancouver                     3        16.0           62.0    False
8       Markham                     9        14.0          130.0     True
372  Sherbrooke                     3        35.0           77.0     True
152      London                     9        22.0          134.0     True